name: e-learning-platform

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "${SA_PASSWORD}"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P '${SA_PASSWORD}' -Q 'SELECT 1' -C || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 15s
  elearningplatform:
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_HTTP_PORTS: "8080"
      ASPNETCORE_HTTPS_PORTS: "8081"
      ConnectionStrings__DefaultConnectionString: "Server=db;Database=e_learning;UID=sa;PWD=${SA_PASSWORD};TrustServerCertificate=True"
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    depends_on:
      db:
        condition: service_healthy
  mssql-tools:
    image: mcr.microsoft.com/mssql-tools:latest
    restart: no
    volumes:
      - ./sql/init.sql:/tmp/init.sql
    command: "/opt/mssql-tools/bin/sqlcmd -S db -l 60 -U sa -P '${SA_PASSWORD}' -d master -i /tmp/init.sql;"
    depends_on:
      db:
        condition: service_healthy

volumes:
  sql_data: